In [1]:
import csv
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from io import BytesIO

In [2]:
#get 2013~2016data and 2016~now data
r = requests.get('http://www.cboe.com/publish/scheduledtask/mktdata/datahouse/indexpc.csv')
r2 = requests.get('http://www.cboe.com/publish/scheduledtask/mktdata/datahouse/indexpcarchive.csv')

In [3]:
#only reserve Date and P/C Ratio
df =  pd.read_csv(BytesIO(r.content), header=2 , usecols =  ['DATE', 'P/C Ratio'], parse_dates=["DATE"])
df2 = pd.read_csv(BytesIO(r2.content),  header=2 , usecols =  ['Trade_date', 'P/C Ratio'], parse_dates=["Trade_date"])

In [4]:
#Rename the column
df.rename(columns={'DATE': 'Date', 'P/C Ratio': 'Value'}, inplace=True)
df2.rename(columns={'Trade_date': 'Date', 'P/C Ratio': 'Value'}, inplace=True)

In [5]:
#Merge
result =df2.append(df)

In [6]:
result.head(20)

         Date  Value
0  2003-10-17   2.00
1  2003-10-20   1.09
2  2003-10-21   1.27
3  2003-10-22   1.89
4  2003-10-23   1.60
5  2003-10-24   1.49
6  2003-10-27   1.37
7  2003-10-28   1.06
8  2003-10-29   0.92
9  2003-10-30   1.49
10 2003-10-31   1.65
11 2003-11-03   1.29
12 2003-11-04   1.43
13 2003-11-05   1.57
14 2003-11-06   1.46
15 2003-11-07   1.85
16 2003-11-10   1.57
17 2003-11-11   2.10
18 2003-11-12   1.41
19 2003-11-13   1.58